# Compiled class files
*.class
target/
dist/
build/

# Node & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment and secrets
.env
*.env.local

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Database / Storage data
/var/lib/benigascode/
/var/backups/benigascode/

